# Matlab autosave files
*.asv
# Java components of Brainstorm
java/brainstorm.jar
# Anatomy defaults
defaults/anatomy/*
# Compiled Brainstorm and wrappers
bin/*/brainstorm3.jar
bin/*/brainstorm3.bat
bin/*/brainstorm3.command
# Ignore all .fuse_hidden files
.fuse_hidden*
# macOS desktop service store files
.DS_Store

*.log
